.miau {
    height: 40px;
    width: 100px;
    border: 1px solid red;
}

.card { /* cria apenas a aparência externa: não faz nada com o que está dentro */
    background: #ececec;
    width: 90%;
    display: block;

    padding: 1rem; /* sem isso */
    margin: auto;
    border-radius: 0.5rem;
}

.card-body { /* cria uma espécie de container para o que está dentro. */

}

.card-header { /* Cria um header bonitinho */

}

.card-img { /* posiciona a imagem dentro do card de forma organizada */

}
