.navbar{
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar__archor{
    display: inline-block;
    text-decoration: none;
    color:#6a708e;
    padding: .5em .4em;
    text-transform: uppercase;
    transition:0.5s;
}
.navbar__archor:hover{
    text-decoration: none;
    color: #00693E;
    border-bottom: 1px solid #00693E;  
    border-top: 1px solid #00693E;
    padding: .3em .2em;
}
.menu-mobile__toggle-button{
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #00693E;
}

@media only screen and (max-width: 480px ) {
    .menu-mobile__content{
        display: none;
        position: fixed;
        width: 100%;
        background-color: #00693E;
        left: 0px;
        transition: 0.5s ease-in-out;
    }
    .menu-mobile__open{
        display: block;
    }
    .navbar__archor{
        display:block;
        padding:20px;
        color:#FFF;
        transition: 0.4s;
        text-align: center;
    }
    .navbar__archor:hover{
        color: #FFF;
        padding:30px;
        border-bottom: 1px solid #FFF;  
        border-top: 1px solid #FFF;
    }
    
  }
  