.alert {
    padding: 10px 15px;
    border: 2px solid #999;
    border-radius: 5px;
    margin: 10px 0;
}

.alert--error {
    border-color: #d43f3a;
    color: #d43f3a;
    background-color: rgba(212, 63, 58, .1);
}