.intro {
    background-image: url(../../img/banner.jpg);
    background-position: 55%;
    height: 100vh;
    font-size: 22px;
    color: white;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.intro::before {
    content: "";
    display: block;
    background-color: rgba(0, 105, 62, .6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.intro__content {
    z-index: 2;
    text-align: center;
}

.intro__big-title {
    font-size: 34px;
}

@media (min-width: 768px) {
    .intro {
        font-size: 30px;
        background-position: center;
    }

    .intro__big-title {
        font-size: 55px;
    }
}

/* About */
.about__title {
    color: #1f344e;
    font-size: 2.6rem;
}

.about-item {
    margin: 2em 0;
}

.about-item__title {
    color: #00693c;
    font-size: 2.4rem;
}

.about-item--redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px black;
}

@media (min-width: 768px) {
    .about__title {
        font-size: 3.1rem;
    }

    .about-item p {
        margin-top: 0;
        margin-bottom: 2.5em;
        padding-left: 15px;
    }
    .about-item__title {
        font-size: 2.6rem;
    }
    .btn--secondary {
        margin-bottom: 7px;
    }
}

.ticket-wrapper {
    border: 1px solid transparent;
    width: 100%;
    height: 50%;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
}

.ticket-wrapper__title {
    margin-top: 20%;
}

.ticket-wrapper__buttons {
    margin-bottom: 20%;
}

/* Section */
.speakers, .schedule {
    background-color: rgba(0, 105, 62, .1);
}

.speakers__title {
    font-size: 2.8em;
    text-align: center;
    margin-bottom: .6em;
    color: #00693c;
}

.speaker-card__title {
    color: #1f344e;
    font-size: 1.8em;
    margin: 0;
}

.speaker-card__subtitle {
    color: #1f344e;
    font-size: 1.3em;
    margin-bottom: .4em;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .speakers__title {
        font-size: 3.5em;
    }
}
/*schedule*/
.lecture{
    margin-bottom: 1rem;
    margin-top: .9rem;
    display: flex;
}
.schedule__title{
    font-size: 2.8em;
    text-align: center;
    color: #00693c;
}
.schedule-item__day{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0.2em;
    color: #00693c;
}   
.lecture__time{
    color:#1f344e;
    margin-right: 11px;
}
.lecture__title{
    color:#1f344e;
    font-size: 1.5em;
    line-height: 1.2;
}
.lecture__speaker{
    color:#00693c;
}

@media (min-width: 992px) {
    .schedule-item{
        margin-bottom: 1rem; 
    }  

    .schedule-item__day{
        text-align: right;
        margin-top: 0;
    }
}

.event__strong {
    font-weight: 600;
    color: #00693c; 
}

/* Values */
.values__title {
    text-align: center;
    color: #00693c;
    font-size: 40px;
    margin: .3em;
}

.values__subtitle {
    text-align: center;
    color: #00693c;
    font-size: 32px;
    margin: 1em 0 .5em 0;
}