
*{
    box-sizing: border-box;
}

.title{
    font-family: 'Fira Sans', sans-serif;
}
.title--small{
    font-size: 1.5rem;
}

.section {
    padding: 2rem 0;
}

@media (min-width: 768px) {
    .section {
        padding: 3rem 0;
    }
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #1e2a3a;
}
