.login-section {
    background-color:white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #CDCDCD;
    box-shadow: 0px 4px 7px -1px black;
    padding: 30px;
    border-radius: 5px;
}

.login__form {
    width: 100%;
}

.form__input {
    border: 2px solid #9b9b9b;
    padding: .3em .7em; 
    box-shadow: 0 0 0 0 rgba(0, 107, 62, 0.4);
    transition: .3s all ease;
}

.form__input:focus {
    border-color: rgba(0, 107, 62, 0.9);
    box-shadow: 0 0 0 .2rem rgba(0, 107, 62, 0.4);
}

.form__content {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: black;
    font-size: 18px;
}

.login--img {
    margin-bottom: 10px;
}

.login__title {
    font-weight: normal;
    margin-bottom: 30px;
}
.form__resources {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 542px) {
    .resources__anchor{
        margin-right: 10px;
    }
}

