.table {
    width: 100%;
    /* box-sizing: border-box; */
}

.table thead {
    vertical-align: middle;
    border-bottom: 2px solid #cdcdcd;
}

.table tbody {
    vertical-align: middle;
}

.table tr {
    border-bottom: 1px solid #dadada;
}

.table th,
.table td {
    padding: 0.6rem;
    text-align: left;
}

.table--bordered td, .table--bordered th{
    border: 1px solid #dee2e6;
}

.table--stripped > thead > tr,
.table--stripped > tbody > tr {
    border: none;
}

.table--stripped > tbody > tr:nth-child(odd) {
    background: #f2f2f2;
}

.table--highlight > tbody > tr:hover {
    background: #f2f2f2;
}

.table--lg td,
.table--lg th {
    padding: 1rem;
}
